In [1]:
#importing required libraries
import pandas as pd
import numpy as np

In [2]:
#importing the dataset
df=pd.read_csv("C:/Users/HP/Downloads/spotify_millsongdata.csv")

In [3]:
#checking the dataset
df.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [4]:
df.tail()

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [5]:
#displaying the shape of the dataset
df.shape

(57650, 4)

In [6]:
#checking the null values
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [7]:
#dropping the link column and taking 20000 samples the systems gpu supports at that limit
df=df.sample(20000).drop('link',axis=1).reset_index(drop=True)

In [8]:
#after removing the link column the data will become like this
df.head()

,artist,song,text
0,Cheap Trick,Daddy Should Have Stayed In High School,I've been waiting every night after school \r...
1,James Taylor,Kootch's Song,She is frenzied to the point of pain. \r\nShe...
2,Andy Williams,The Impossible Dream,To dream the impossible dream \r\nTo fight th...
3,Neil Young,4-Way Street Medley,He's a perfect stranger \r\nLike a cross of h...
4,Glen Campbell,Once More With Feeling,We're just goin' through the motions \r\nOf t...

In [9]:
#detailed view of the text column(only one row)
df['text'][0]

"I've been waiting every night after school  \r\nFor five long years, five long years!  \r\nI'll keep waiting there for five nights a week  \r\n'Cause I'm no fool  \r\n  \r\nOoh reeling and a-rocking  \r\nRolling till the break of  \r\nOoh reeling and a-rocking  \r\nRolling till the school breaks out  \r\n  \r\nI'm thirty, but I feel like sixteen  \r\nI might even know your daddy  \r\nI'm dirty, but my body is clean  \r\nI might even be your daddy  \r\n  \r\nOoh reeling and a-rocking  \r\nRolling till the break of  \r\nOoh reeling and a-rocking  \r\nRolling till the break of  \r\n  \r\nI like you, will you like me, yes!  \r\nSorry, but I have to grab you  \r\nYou look better completely undressed  \r\nSorry, but I have to have you  \r\n  \r\nI'm thirty, but I feel like sixteen  \r\nHow would you like some candy?  \r\nI'm thinking more than a kiss  \r\nWith me, spank me, grab me\r\n\r\n"

In [10]:
#Text preprocessing
#converting the data into lower case letters and removing all \n values in the text
df['text']=df['text'].str.lower().replace(r'^\w\s',' ').replace(r'\n',' ',regex=True)

In [25]:
df['text'][0]

"i've been waiting every night after school  \r for five long years, five long years!  \r i'll keep waiting there for five nights a week  \r 'cause i'm no fool  \r   \r ooh reeling and a-rocking  \r rolling till the break of  \r ooh reeling and a-rocking  \r rolling till the school breaks out  \r   \r i'm thirty, but i feel like sixteen  \r i might even know your daddy  \r i'm dirty, but my body is clean  \r i might even be your daddy  \r   \r ooh reeling and a-rocking  \r rolling till the break of  \r ooh reeling and a-rocking  \r rolling till the break of  \r   \r i like you, will you like me, yes!  \r sorry, but i have to grab you  \r you look better completely undressed  \r sorry, but i have to have you  \r   \r i'm thirty, but i feel like sixteen  \r how would you like some candy?  \r i'm thinking more than a kiss  \r with me, spank me, grab me\r \r "

In [26]:
df.tail()

,artist,song,text
19995,Dan Fogelberg,A Voice For Peace,you know that everybody has a voice \r and ho...
19996,The Monkees,Tell Me Love,"oh tell me, love, and tell me truly \r do you..."
19997,Gino Vannelli,It's Over,you go through the motions \r of a woman in l...
19998,Lynyrd Skynyrd,I Ain't The One,"now i'll tell you plainly, baby, what a plan t..."
19999,Indigo Girls,It's Alright,it's alright forty days of rain \r my skin st...

In [12]:
#importing nltk library for tokenization of the text columns
import nltk
from nltk.stem.porter import PorterStemmer

In [13]:
stemmer=PorterStemmer()

In [14]:
#creating the function for the tokenize each row in the dataset
def token(text):
    token=nltk.word_tokenize(text)
    l=[stemmer.stem(w) for w in token]
    return " ".join(l)

In [15]:
#taking example for the token() function whether its working or not
token("you are beautiful,beauty")

'you are beauti , beauti'

In [16]:
#applying token() function to all the columns in the dataset
df['text'].apply(lambda x : token(x))

0        i 've been wait everi night after school for f...
1        she is frenzi to the point of pain . she is co...
2        to dream the imposs dream to fight the unbeat ...
3        he 's a perfect stranger like a cross of himse...
4        we 're just goin ' through the motion of the p...
                               ...
19995    you know that everybodi ha a voic and how they...
19996    oh tell me , love , and tell me truli do you b...
19997    you go through the motion of a woman in love e...
19998    now i 'll tell you plainli , babi , what a pla...
19999    it 's alright forti day of rain my skin stretc...
Name: text, Length: 20000, dtype: object

In [17]:
#importing feature extraction module for converting the text column to the vector form
#and also importing cosine_similarity module to find cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [18]:
#creating a object for the tfidfvectorization to fit the text column
tfid=TfidfVectorizer(analyzer='word',stop_words='english')

In [19]:
#transform the text into vectors
matrix=tfid.fit_transform(df['text'])

In [21]:
#finding the cosine_similarity for the matrix
cosine_similarity=cosine_similarity(matrix)

In [22]:
#displaying the 0th index values in the cosine_similarity function
cosine_similarity[0]

array([1.        , 0.00179745, 0.00809962, ..., 0.02322021, 0.04399811,
       0.0147269 ])

In [38]:
#creating recommendation function
def recommender(song_name):
    idx=df[df['song']==song_name].index[0]
    distance=sorted(list(enumerate(cosine_similarity[idx])),reverse=True,key=lambda x:x[1])
    song=[]
    for s_id in distance[1:20]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [39]:
#calling the recommendation function to recommend the songs
recommender("Sorry")

['Never Say Goodbye',
 'Goodbye Love',
 'Say Goodbye To Hollywood',
 'Goodbye',
 'Say Goodbye',
 'Goodbye',
 "Can't Say Goodbye",
 'So Now Goodbye',
 'Say Goodbye',
 "I Don't Know How To Say Goodbye",
 'Goodbye To You',
 '8-Ball',
 'Oh Me, Oh My Sweet Baby',
 'Goodbye In Her Eyes',
 'Goodbye Girl',
 'Goodbye Bye Bye Bye',
 'May You Never Be Alone Like Me',
 'Long, Long Way To Go',
 'Goodbye']